* {
    cursor: url('img/cursor_rag_default.png'), auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    border: 1px solid #cacaca;
    background-color: transparent;
}

input:focus-visible {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.h-100 {
    height: 100%;
}

.flex-v-center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.black_screen {
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 999;
    color: #fff;
    display: flex;
    font-family: system-ui;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.row {
    width: 100%;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.text-input {
    width: 90px;
    text-align: right;
    margin: 0 20px 0 0;
    color: #5a6b9c;
    font-size: 16px;
}

.block_login_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ------------------------------ */
/* ------- JANELA DEFAULT ------- */
/* ------------------------------ */
.block_message {
    display: flex;
    padding: 5px 20px;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.block_message>p {
    font-family: arial;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
}

.orb_blue {
    width: 10px;
    height: 10px;
    background: url(img/ball.gif);
    background-size: cover;
    border-radius: 25px;
    margin: 0 5px 0 5px;
}

.block_default {
    width: 100%;
    max-width: 400px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #ffffff;
}

.block_select_world {
    width: 100%;
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.block_select_player {
    width: 100%;
    max-width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.block_news {
    width: 100%;
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.block_global_msg {
    width: 100%;
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.h_xs {
    height: 80px !important;
}

.h_s {
    height: 100px !important;
}

.h_m {
    height: 150px !important;
}

.h_l {
    height: 300px !important;
}

.h_xl {
    height: 450px !important;
}

.h_xxl {
    height: 525px !important;
}

.block_login {
    width: 400px;
    height: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.default_header {
    display: flex;
    font-family: system-ui;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 2px solid #000;
    background: rgb(201, 224, 247);
    background: linear-gradient(0deg, rgba(201, 224, 247, 1) 25%, rgba(163, 178, 214, 1) 50%, rgba(201, 224, 247, 1) 75%, #a3b2d6 100%);
    height: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.default_body {
    display: flex;
    font-family: system-ui;
    font-size: 10px;
    font-weight: 600;
    height: 70%;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

.default_footer {
    display: flex;
    font-family: system-ui;
    font-size: 12px;
    font-weight: 600;
    border-top: 2px solid #cacaca;
    height: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    justify-content: flex-end;
    padding: 5px 0 5px 0;
}

.fadeInAnim {
    -webkit-animation: fadeInEffect .3s ease-out;
    -moz-animation: fadeInEffect .3s ease-out;
    -o-animation: fadeInEffect .3s ease-out;
    animation: fadeInEffect .3s ease-out;
}

@-webkit-keyframes fadeInEffect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInEffect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInEffect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInEffect {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ------------------------------ */
/* ------ SELECT W DEFAULT ------ */
/* ------------------------------ */
.selectAlt {
    display: flex;
    position: relative;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-direction: column;
}

.selectAlt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    display: flex;
    left: 0;
    height: 22px;
    border-bottom: 0;
    width: 100%;
    background-color: #eee;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-family: arial;
    font-size: 13px;
    flex-wrap: nowrap;
}

.checkmark > span {
    margin: 0 5px 0 5px;
}

.selectAlt:hover input~.checkmark {
    background-color: #ccc;
}

.selectAlt input:checked~.checkmark {
    background-color: #a3b2d6;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.selectAlt input:checked~.checkmark:after {
    display: block;
}

.selectAlt .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
}

/* ------------------------------ */
/* ---- SELECT CHAR DEFAULT ----- */
/* ------------------------------ */
.carousel_chars {
    display: flex;
    background: #fff;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
}

.page_slots {
    display: flex;
    background: #fff;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.char_slot {
    display: flex;
    background: #fff;
    border: 3px solid #dbdfe2;
    width: 190px;
    height: 215px;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 0 30px 0;
}

.active {
    border: 8px solid #7b94cd;
}

.arrow_l {
    background-image: url(img/arrow_default.png);
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    width: 18px;
    height: 20px;
    margin: 0 0 0 20px;
}

.arrow_r {
    background-image: url(img/arrow_default.png);
    transform: rotate(0deg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    width: 18px;
    height: 20px;
    margin: 0 20px 0 0;
}

.empty {
    position: absolute;
    bottom: 292px;
    background-color: #00000061;
    width: 35px;
    height: 45px;
    display: inline-flex;
    border-radius: 25px;
    transform: rotateX(132deg);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 75%);
}

.total_pages_count {
    color: #525252;
    font-family: cursive;
    font-size: 12px;
    padding: 0;
    margin: 10px 0 0 0;
}

.char_info {
    display: flex;
    flex-direction: row;
}

.char_info ul {
    width: 150px;
    list-style: none;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0;
    font-weight: 800;
}

.char_info ul li {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #c8cce6;
    color: #3a4566;
    font-family: revert;
    font-size: 13px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px 0 5px;
    margin: 0px 0 1px 20px;
}

.char_info span {
    display: flex;
    height: 22px;
    width: 100px;
    background-color: #edf0f8;
    color: #000000;
    font-family: system-ui;
    font-size: 12px;
    font-weight: 600;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 0 0 0 8px;
}

.total_slot_count {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px 20px 0px;
}

.block_charactor {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid #dbdfe2;
    padding: 5px 25px;
    font-size: 13px;
    border-radius: 5px;
}

.block_charactor span:first-child {
    padding: 0 15px 0 0;
    font-weight: bold;
    color: #475880;
}